@charset "utf-8";

/*
device breakpoits 2023

// Small devices (landscape phones, 600px and up)
@media (min-width: 600px) { ... }  //ja feito em mobile frist

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } //ja feito em mobile frist

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

*/

@media screen and (min-width: 768px) and (max-width: 992px) /*tablet resolução*/
 { 

    section#login {
        min-width: 80vw;   
        max-height: 90vh;    
        background: transparent;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.574);
        backdrop-filter: blur(10px);
    }
    section#login > div#imagem
    {
       float: left;
       width: 30%;
       height: 100%;       
       background: #666564 url(../imagens/LoginTablet.jpg) no-repeat;         

       background-size: cover;
    }
    section#login > div#formulario{
        display: block;
        text-align: center;
        justify-content: center;
        margin-top: 10vh;
    }
    .material-symbols-outlined {
        position: relative;
        background-color: var(--cinza);
        color: var(--preto);
        height: 30px;    
        padding: 7px;
        box-shadow: 0px 0px 3px rgb(3, 1, 1);
        left: 7px;
        top: 10px;
    }
    
    #iuser, #ipass  {
        width: 250px;
        height: 30px;
        text-align: center;
        padding: 7px;
    }
    #boxuser, #boxpass {
        padding: 5px;
    }
    #enviar_id{
        background-color: var(--cinzaclaro);
        padding: 0.5em;
    }
    #enviar_id:hover{
        background-color: black;
        color: white;
        transition: 0.2s;
    }
 }

 @media screen and (min-width: 992px) and (max-width: 1900px)/*tv resolução*/
{
    section#login {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 850px;
        height: 700px;        
        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgb(200, 187, 187);

        background: transparent;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.574);
        backdrop-filter: blur(10px);
    }   
    section#login > div#imagem {
        background: #666564 url(../imagens/LoginPC.jpg) no-repeat;
        height: 200px;
        background-size: cover;
        background-position: 25% 25%;
    }
    section#login > div#formulario{
        display: block;
        text-align: center;
        justify-content: center;        
        margin-top: 5vh;
    }
    .material-symbols-outlined {
        position: relative;
        background-color: var(--cinza);
        color: var(--preto);
        height: 39px;    
        padding: 10px;
        box-shadow: 0px 0px 3px rgb(3, 1, 1);
    }
    
    #iuser, #ipass  {
        width: 550px;
        height: 40px;
        text-align: center;
        padding: 7px;
    }
    #enviar_id {  
        left: 10px;
        position: relative;
    }
}