@charset "utf-8";

/*
device breakpoits 2023

// Small devices (landscape phones, 600px and up)
@media (min-width: 600px) { ... }  //ja feito em mobile frist

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } //ja feito em mobile frist

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }

*/

@media screen and (min-width: 768px) and (max-width: 992px) /*tablet resolução*/
 { 

    section#login {
        min-width: 80vw;   
        max-height: 60vh;    
        background-color: rgba(240, 248, 255, 0.215);
        box-shadow: 0px 0px 10px rgba(218, 155, 203, 0.574);
        backdrop-filter: blur(10px);
    }
    section#login > div#imagem
    {
       float: left;
       width: 30%;
       height: 100%;       
       background: #666564 url(../imagens/LoginTablet.jpg) no-repeat;         

       background-size: cover;
    }
    section#login > div#formulario{
        display: block;
        text-align: center;
        justify-content: center;
        margin-top: 10vh;
    }
    .material-symbols-outlined {
        position: relative;
        background-color: var(--cinza);
        color: var(--preto);
        height: 30px;    
        padding: 7px;
        box-shadow: 0px 0px 3px rgb(3, 1, 1);
        left: 7px;
        top: 10px;
    }
    
    #iuser, #ipass  {
        width: 250px;
        height: 30px;
        text-align: center;
        padding: 7px;
        
        color: var(--branco);
    }
    #boxuser, #boxpass {
        padding: 5px;
    }
    #enviar_id{
        background-color: var(--branco);
        padding: 0.5em;
        width: 285px;
        height: 30px;
    }
    #enviar_id:hover{
        background-color: var(--cinza);
        color: var(--branco);
        transition: 0.2s;
    }

    /*cadastro*/
    section#login > div#imagemCadastro
    {
       float: left;
       width: 30%;
       height: 100%;       
       background: #666564 url(../imagens//cadastro.jpg) no-repeat;      

       background-size: cover;
       background-position: 65%;
    }
    .texto_cadastro {
        position: relative;
    }
    #enviar_cadastroenviar {
        position: relative;
        left: 3px;
        width: 285px;
        height: 30px;
    }
    #enviar_cadastroenviar:hover {
        color: var(--branco);
         background-color: var(--cinza);
     }
    .material-symbols-outlined {
        position: relative;
        background-color: var(--cinza);
        color: var(--preto);
        height: 30px;    
        padding: 7px;
        box-shadow: 0px 0px 3px rgb(3, 1, 1);
        left: 7px;
        top: 10px;
    }
    #inamereal, #inascimento, #iemail2, #itelefone, #ipassword2
    {
        width: 250px;
        height: 30px;
        text-align: center;
        padding: 15px;
        background-color: var(--cinza);
    }
    input::placeholder {
        color: #ffffff;
        opacity: 1;
      }
/*
<!-- iconUser  iconCalendario iconSexo  iconEmail2 icontel

inamereal inascimento isexoo iemail2 itelefone
-->*/
 }

 @media screen and (min-width: 992px) and (max-width: 1900px)/*tv resolução*/
{
    section#login {
        position: absolute;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 650px;        
        border-radius: 20px;
        overflow: hidden;
        background-color: rgba(240, 248, 255, 0.215);
        box-shadow: 0px 0px 10px rgba(218, 155, 203, 0.574);
        backdrop-filter: blur(10px);
    }   
    section#login > div#imagem {
        background: #666564 url(../imagens/LoginPC.jpg) no-repeat;
        height: 200px;
        background-size: cover;
        background-position: 25% 25%;
        box-shadow: 0px 0px 10px rgb(15, 14, 14);
    }
    section#login > div#formulario{
        display: block;
        text-align: center;
        justify-content: center;        
        margin-top: 5vh;
        
    }
    .material-symbols-outlined {
        position: relative;
        background-color: var(--cinza);
        color: var(--preto);
        height: 39px;    
        padding: 10px;
        box-shadow: 0px 0px 3px rgb(3, 1, 1);
    }
    
    #iuser, #ipass  {
        width: 550px;
        height: 40px;
        text-align: center;
        padding: 7px;        
        color: var(--branco);
    }
    #enviar_id {  
        left: 10px;
        position: relative;
        width: 250px;
        height: 30px;
    }
    #enviar_id:hover {
        color: var(--branco);
         background-color: var(--cinza);
     }
     input::placeholder {
        color: #ffffff;
        opacity: 1;
      }
}